//
// user.scss
// Use this to write your custom SCSS
//

.container .row {
  margin:28px 0 24px 0;
  > * {
    padding:0;
  }
  &:first-child {
    margin:0;
  }
  .col-12 {
    h3 {
      margin-top:16px;
      margin-bottom: -16px;
    }
    img{
      margin-bottom:16px;
      + div {margin:0;}
    }
  }
}
