//
// user.scss
// Use this to write your custom SCSS
//

.container .row {
  margin-top:0;
  margin-right: 0;
  margin-left: 0;
  margin:28px 0 24px 0;
  > * {
    padding-right: 0;
    padding-left: 0;
  }
  &:first-child {
    margin:0;
  }
  .col-12 {
    h3 {
      margin-top:16px;
      margin-bottom: -16px;
    }
    img{
      margin-bottom:16px;
    }
  }
}
.container .row .col-12 img + div {margin:0;}
